* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  width: 100%;
}

html{
    scroll-behavior: smooth;
}

header.cabecalho{
    display: flex;
    height: 70px;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    border-bottom: 2px solid #dedede;
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-coluna {
    display: flex;
    gap: 150px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.menu a{
    color: #7ed957;
    text-decoration: none;
    white-space: nowrap;
    font-size: 25px;
}

.menu .logo img {
    height: 70px;
}

#home{
    scroll-margin-top: 70px;
    min-height: 300px;
}

body{
    background-image: url("fundo.png");
    background-size: contain;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "DynaPuff", serif;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.titulo img {
    height: 200px;
    width: auto;
}

.noticias{
    color: #2e63ce;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 50px;
    padding-bottom: 50px;
}

.sobrenos {
  padding: 20px;
  max-width: 1000px;
  margin-left: 20px;
  margin-right: auto; 
  margin-bottom: 40px;
}

.sobrenos h1 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #2e63ce;

}

.sobrenos p {
    font-size: 20px;
    color: #2e63ce;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    border-top: 2px solid #dedede;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.rodape p{
    font-size: 20px;
    font-family: "Arial", serif;
}

.imagensnoticias img{
    height: 420px;
    width: auto;
    transition: transform 1s ease;
}

.noticiapetz:hover{
    transform: scale(1.05);
}

.brasilnoticia:hover{
    transform: scale(1.05);
}

.exponoticia:hover{
    transform: scale(1.05);
}

.imagensnoticias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0 20px;
}