@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

html{
  height: 100vh;
}

header.cabecalho{
    display: flex;
    height: 30px;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    border-bottom: 2px solid #dedede;
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    left: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: 1400px;
    margin: 0;
    padding: 0px;
    size: cover;
    box-sizing: border-box;
    left: 0;
}

.menu-coluna {
    display: flex;
    gap: 150px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.menu a{
    color: #7ed957;
    text-decoration: none;
    font-family: "DynaPuff", system-ui;
    white-space: nowrap;
    font-size: 25px;
}

.menu .logo img {
    height: 70px;
}

.botao-voltar {
  position: fixed;
  top: 80px;
  left: 20px;
  background-color: rgba(126, 217, 87, 0.7);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'DynaPuff', system-ui;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.2s ease;
  z-index: 1000;
}

.botao-voltar:hover {
  background-color: #66c247;
}

body {
  background-image: url('Imagens/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-family: "DynaPuff", system-ui;
  margin: 0;
  padding: 0;
  padding-top: 120px; 
  color: #333;
}

header {
  color:#000000;
}

.perfil-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.perfil-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-animal {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #7ed957; 
  margin-bottom: 10px;
}

.perfil-animal h1 {
  font-size: 2rem;
  margin: 0;
  color: #333;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  padding: 20px;
}

.coluna {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
}

.container-azul {
  background-color: rgba(121, 190, 207, 0.237);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
  font-size: 0.9rem;
}

.container-azul h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
}